
<head>
  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Año</th>
        <th>Director</th>
        <th>Actores</th>
        <th>Género</th>
        <th>Rating</th>
        <th>Vista</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.year %></td>
          <td><%= movie.director %></td>
          <td><%= movie.actors %></td>
          <td><%= movie.genre %></td>
          <td><%= movie.rating %></td>
          <td>
            <%= javascript_include_tag "movies" %>
            <%= check_box_tag "movie[viewed]", movie.id, movie.viewed, class: "js-toggle-viewed", data: { id: movie.id } %>
          </td>
          <td><%= link_to "Editar", edit_movie_path(movie) %></td>
          <td><%= link_to "Eliminar", movie, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="button-container">
    <%= link_to "New movie", new_movie_path, class: "button" %>
  </div>
</body>
